-var url = '../arc/'
-var title1 = 'Paga con tarjeta o en efectivo'
-var description1 = 'Con mercado Pago, tenes cuotas sin interes con tarjeta o con efectivo en puntos de pago. Y siempre seguro!'
-var link1 = 'Como pagar con Mercado Pago'

-var title2 = 'Envio gratis desde $2500'
-var description2 = 'Solo por estar registrado en Mercado Libre tenes envios gratis en miles de productos. Es un beneficio de Mercado Puntos.'
-var link2 = 'Conoce mas sobre este beneficio'

-var title3 = 'Seguridad'
-var description3 = 'Con mercado Pago, tenes cuotas sin interes con tarjeta o con efectivo en puntos de pago. Y siempre seguro!'
-var link3 = 'Como pagar con Mercado Pago'

mixin info_slide(image, title, description, link)
    .info
        img(src=`${url}${image}`, alt="").payment-icon
        h1 #{title}
        p #{description}
        a(href="#") #{link}

section.section-info
    .info-container
        +info_slide('card.svg', title1, description1, link1)
        +info_slide('box.svg', title2, description2, link2)
        +info_slide('security.svg', title3, description3, link3)
