-var url = '../arc/store/'

mixin store_card(brandbackground, brandimage, title, product1, product2, product3, vertienda)
        .store__card
            img(src=`${url}${brandbackground}`).store__card--img
            img(src= `${url}${brandimage}`).store__card--logo
            h2.store__card--title #{title}
            .store__products-container
                img(src=`${url}${product1}`).store-products
                img(src=`${url}${product2}`).store-products
                img(src=`${url}${product3}`).store-products
                
            a(href="#").store__card--seeshop #{vertienda}


section.stores
    .stores-titles
        h2 Las mejores tiendas te espera
        a(href="#") Ver tiendas

    .store__container
        +store_card('citroenbackground.jpg', 'citroen.webp', 'title', 'citroenproducto1.webp', 'citroenproducto2.webp', 'citroenproducto3.webp', 'Ver tienda')
        +store_card('citroenbackground.jpg', 'citroen.webp', 'title', 'citroenproducto1.webp', 'citroenproducto2.webp', 'citroenproducto3.webp', 'Ver tienda')
        +store_card('citroenbackground.jpg', 'citroen.webp', 'title', 'citroenproducto1.webp', 'citroenproducto2.webp', 'citroenproducto3.webp', 'Ver tienda')
        +store_card('citroenbackground.jpg', 'citroen.webp', 'title', 'citroenproducto1.webp', 'citroenproducto2.webp', 'citroenproducto3.webp', 'Ver tienda')
        
//-
        <div class="store__card">

            <img src="/arc/store/philipsbackground.jpg" alt="la posta" class="store__card--img">
                
            <img src="/arc/store/philips.webp" alt="logo" class="store__card--logo">
            <h2 class="store__card--title">Philips</h2>

            <div class="store__products-container">
                <img src="/" alt="productos" class="store-products">
                <img src="/" alt="productos" class="store-products">
                <img src="/" alt="productos" class="store-prsoducts"> -->
            </div>
            
            <a href="/" class="store__card--seeshop">Ver tienda</a>

        </div>
        <div class="store__card">

            <img src="/arc/store/adidasbackground.jpg" alt="la posta" class="store__card--img">
                
            <img src="/arc/store/adidas.webp" alt="logo" class="store__card--logo">
            <h2 class="store__card--title">Adidas</h2>

            <div class="store__products-container">
                <img src="/arc/store/adidasproduct1.webp" alt="productos" class="store-products">
                <img src="/arc/store/adidasproduct2.webp" alt="productos" class="store-products">
                <img src="/arc/store/adidasproduct3.webp" alt="productos" class="store-products">
            </div>
            
            <a href="/" class="store__card--seeshop">Ver tienda</a>

        </div>
        <div class="store__card">

            <img src="/arc/store/samsumgbackground.jpg" alt="la posta" class="store__card--img">
                
            <img src="/arc/store/samsung.webp" alt="logo" class="store__card--logo">
            <h2 class="store__card--title">Samsung</h2>

            <div class="store__products-container">
                <img src="/" alt="productos" class="store-products">
                <img src="/" alt="productos" class="store-products">
                <img src="/" alt="productos" class="store-products"> -->
            </div>    
            <a href="/" class="store__card--seeshop">Ver tienda</a>
        </div>
    </div>
